@font-face {
   font-family: 'Cafe24OhsquareAir-v2.0';
   font-display: swap;
   src: url('file:///C:/Users/arial/AppData/Local/Mobirise.com/Mobirise/projects/project-2026-04-13_092420/fonts/Cafe24OhsquareAir-v2.0/font.ttf');
}
