@font-face {
   font-family: 'Cafe24Ohsquare-v2.0';
   font-display: swap;
   src: url('Cafe24Ohsquare-v2.0/font.ttf');
}
@font-face {
   font-family: 'Cafe24OhsquareAir-v2.0';
   font-display: swap;
   src: url('Cafe24OhsquareAir-v2.0/font.ttf');
}
